@import '../../../../shared/application/theme/contants.scss';

.products-container {
  max-width: 90%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 40px;
}

@media (max-width: $max-screen-widht) {
  .products-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}