@import '../../../application/theme/colors.scss';

.list-container {
  display: flex;
  gap: 5px;
  align-items: center;
  label {
    font-weight: 600;
  }
  .list-wrapper {
    display: flex;
    gap: 5px;
    .list {
      text-align: center;
      border-radius: 9px;
      border: 1px solid darken($color: $primary, $amount: 10);
      background-color: $primary;
      padding: 5px 10px;
      span {
        text-transform: capitalize;
      }
    }
  }
}