.product-container {
  display: flex;
  gap: 20px;
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-text {
      .text-info-container {
        display: flex;
        gap: 5px;
        margin: 10px 0px;
        .title {
          font-weight: 600;
        }
        .text {
          margin: 0;
        }
      }
      .list-container {
        display: flex;
        gap: 5px;
        label {
          font-weight: 600;
        }
        .list-wrapper {
          display: flex;
          gap: 5px;
          .list {
            span {
              text-transform: capitalize;
            }
          }
        }
      }
    }
    .btn-section {
      display: flex;
      gap: 15px;
      margin-bottom: 10px;
      button { 
        height: 40px;
        width: 150px;
        border-radius: 4px;
        border: 1px solid black;
        &.back, &.remove {
          background: #fff;
          &:hover {
            background: darken($color: #fff, $amount: 7);
            cursor: pointer;
          }
        }
        &.buy {
          background: #385fdc;
          &:hover {
            background: darken($color: #385fdc, $amount: 5);
            cursor: pointer;
            color: #fff;
          }
        }
      }
    }
  }
}