@import '../../../../shared/application/theme/colors.scss';

.product-container {
  display: flex;
  gap: 20px;
  .img-container {
    max-height: 400px;
    max-width: 400px;
    img {
      width: 100%;
    }
  }
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-text {
      .text-info-container {
        display: flex;
        gap: 5px;
        margin: 10px 0px;
        .title {
          font-weight: 600;
        }
        .text {
          margin: 0;
        }
      }
    }
    .btn-section {
      display: flex;
      gap: 15px;
      margin-bottom: 10px;
      button { 
        height: 40px;
        width: 150px;
        border-radius: 4px;
        border: 1px solid darken($color: $primary, $amount: 7);
        &.back, &.purchase {
          color: $text-color-primary;
          background: $white;
          &:hover {
            background: $primary;
            cursor: pointer;
            color: $text-color-secondary;
          }
        }
        &.buy {
          background: $primary;
          &:hover {
            background: darken($color: $primary, $amount: 5);
            cursor: pointer;
            color: $text-color-secondary;
          }
        }
      }
    }
  }
}