@import '../../../../shared/application/theme/colors.scss';
@import '../../../../shared/application/theme/contants.scss';

.total-price-contianer {
  width: 35%;
  border: 1px solid darken($color: $primary, $amount: 10);
  height: 160px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  .price-section {
    background: $primary;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    .price {
      color: $text-color-primary;
    }
  }
  .finish-section {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    .btn {
      background: $primary;
      border: 1px solid darken($color: $primary, $amount: 10);
      width: 150px;
      height: 40px;
      font-size: 18px;
      color: $text-color-primary;
      &:hover {
        background: $white;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: $max-screen-widht) {
  .total-price-contianer {
    width: 90%;
    height: 200px;
    .finish-section {
      height: 140px;
      flex-direction: column;
      padding: 10px 0px;
    }
  }
}